# frozen requirements; generate with 'make freezedeps'
Flask-Migrate==2.7.0
Flask-SQLAlchemy==2.5.1
Flask==2.0.2
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
PyJWT==1.7.1
SQLAlchemy==1.4.27
Werkzeug==2.0.2
alembic==1.7.5
boto3==1.20.20
botocore==1.23.20
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
cryptography==36.0.0
funcx-common[redis,boto3]==0.0.11
globus-nexus-client==0.3.0
globus-sdk==2.0.1
greenlet==1.1.2
idna==3.3
importlib-metadata==4.8.2
importlib-resources==5.4.0
itsdangerous==2.0.1
jmespath==0.10.0
psycopg2-binary==2.8.5
pycparser==2.21
python-dateutil==2.8.2
python-json-logger==2.0.2
redis==3.5.3
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
urllib3==1.26.7
zipp==3.6.0
