# frozen requirements; generate with 'make freezedeps'
Flask-Migrate==2.7.0
Flask-SQLAlchemy==2.5.1
Flask==1.1.4
Jinja2==2.11.3
Mako==1.1.5
MarkupSafe==2.0.1
PyJWT==1.7.1
SQLAlchemy==1.4.25
Werkzeug==1.0.1
alembic==1.7.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==7.1.2
cryptography==35.0.0
funcx-common==0.0.6
globus-nexus-client==0.3.0
globus-sdk==2.0.1
greenlet==1.1.2
idna==3.3
importlib-metadata==4.8.1
importlib-resources==5.3.0
itsdangerous==1.1.0
psycopg2-binary==2.8.5
pycparser==2.20
python-json-logger==2.0.2
redis==3.5.3
requests==2.26.0
urllib3==1.26.7
zipp==3.6.0
