<!doctype html>
<html>
   <body>
      <h2 style = "text-align: center;">New Function Registration</h2>

      {% for message in form.name.errors %}
         <div>{{ message }}</div>
      {% endfor %}

{#      {% for message in form.email.errors %}#}
{#         <div>{{ message }}</div>#}
{#      {% endfor %}#}

      <form action = "http://localhost:5000/register-function" method = post>
         <fieldset>
            <legend>Register Function</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.name.label }}<br>
               {{ form.name }}
               <br>

{#               {{ form.Gender.label }} {{ form.Gender }}#}
               {{ form.PyFunc.label }}<br>
               {{ form.PyFunc(rows='20', cols='20') }}
               <br>
               {{ form.language.label }}<br>
               {{ form.language }}
               <br>
               {{ form.submit }}
            </div>

         </fieldset>
      </form>
   </body>
</html>