body {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

header {
    margin-bottom: 1.5em;
}

.BODY_MAIN {
    padding-top: 75px;
    /*padding-bottom: 10px;*/
}

.PAGE-TITLE {
    margin-bottom: 12px;
    padding-left: 0 !important;
}

.ALERT {
    margin-top: -25px;
}

.DIVIDE {
    border-top: 1px solid rgb(227,227,227);
    margin: 60px auto 60px auto;
    width: 90%;
}

.INLINE-BLOCK {
    display: inline-block;
}

.CENTER {
    text-align: center;
}

.SHADOW {
    box-shadow: 4px 4px 10px rgba(136,136,136,0.5);
}

.SIDE-MARGIN-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;}


.PADDING-0 {
    padding: 0 !important;
}

.FLEX-RIGHT {
    display: flex;
    justify-content: flex-end;
}

.FLEX-BOTTOM {
    display: flex;
    align-items: flex-end;
}



/* LAYOUT */

#NAVBAR {
    background-color: #335BA2;
    /*height: 40px;*/
    /*margin-bottom: 25px;*/
    padding-bottom: 0px;
    padding-top: 0px;
}

#NAV-LOGO {
    /*filter: invert(100%);*/
    margin-left: 10px;
    width: 70px;
}

.NAV-LINK {
    margin: 0px 2px 0px 2px;
}

.DROPDOWN-MENU {
    box-shadow: 10px 10px 8px rgb(136,136,136);
}

.dropdown-menu .NAV-LINK {
    color: rgb(118, 118, 118) !important;
}

.dropdown-menu .NAV-LINK:hover {
    background-color: rgb(250, 250, 250);
}

.NAV-EXTERNAL-LINK {
    border-radius: 20%;
}

.NAV-EXTERNAL-LINK:hover {
    background-color: rgba(255,255,255,0.25);
}

.NAV-EXTERNAL-IMG {
    width: 35px;
}

#USER-INFO {
    display: inline-block;
    margin-left: 10px !important;
    text-align: right;
}

#USER-CREDENTIAL {
    color:rgb(247,247,247);
    display: block;
    margin: 0px 2px -4px 2px !important;
}

#USER-LOGOUT {
    font-size: 0.8em;
    padding: 0 !important;
    text-align: left;
}

.FOOTER {
    margin: 40px 160px 40px 160px !important;
    text-align: center;
}



/* Start Page */

#START-HEADER {
    align-items: flex-start;
    background-color: rgb(51,91,162);
    color: rgb(250,250,250);
    display: flex;
    /*justify-content: flex-start;*/
    margin-bottom: 100px;
    padding: 20px;
    padding-top: 0px;
}

/*!*Small devices (landscape phones, 576px and up)*!*/
/*@media (min-width: 576px) {*/
/*    #START-HEADER {*/
/*        background-color: red;*/
/*    }*/
/*}*/

/*!*Medium devices (tablets, 768px and up)*!*/
/*@media (min-width: 768px) {*/
/*    #START-HEADER {*/
/*        background-color: yellow;*/
/*    }*/
/*}*/

/*!*Large devices (desktops, 992px and up)*!*/
/*@media (min-width: 992px) {*/
/*    #START-HEADER {*/
/*        background-color: green;*/
/*    }*/
/*}*/

/*!*Extra large devices (large desktops, 1200px and up)*!*/
/*@media (min-width: 1200px) {*/
/*    #START-HEADER {*/
/*        background-color: blue;*/
/*    }*/
/*}*/

#START-LOGO {
    display: inline-block;
    margin-right: 24px;
    width: 200px;
}

.START-HEADER-COL {
    display: inline-block;
    margin-top: 36px;
}

.BTN-OUTLINE-LIGHT {
    background-color: rgba(250,250,250,0);
    border: 1px solid rgb(250,250,250) !important;
    /*border-radius: 3px;*/
    color: rgb(250,250,250) !important;
    /*line-height: 1em;*/
    /*padding: 8px !important;*/
    /*text-align: center;*/
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
    white-space: nowrap;
}

.BTN-OUTLINE-LIGHT:hover {
    background-color: rgba(250,250,250,1);
    color: rgb(51,91,162) !important;
}

.BTN-OUTLINE-LIGHT .BTN-IMG {
    filter: brightness(6);
}

.BTN-OUTLINE-LIGHT:hover .BTN-IMG {
    filter: brightness(1);
}

.BTN-OUTLINE-DARK {
    background-color: rgba(39,120,185,0);
    border: 1px solid rgb(39,120,185) !important;
    /*border-radius: 3px;*/
    color: rgb(39,120,185) !important;
    /*line-height: 1em;*/
    /*padding: 8px !important;*/
    /*text-align: center;*/
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
    white-space: nowrap;
}

.BTN-OUTLINE-DARK:hover {
    background-color: rgba(39,120,185,1);
    color: rgb(250,250,250) !important;
}

.BTN-OUTLINE-DARK .BTN-IMG {
    filter: brightness(1);
}

.BTN-OUTLINE-DARK:hover .BTN-IMG {
    filter: brightness(5);
}

.CIRCLE-NUM {
    margin-bottom: 20px;
    width: 100px;
}

.STEP-DESC {
    color: rgb(64,64,64);
    display: block;
    font-size: 1.8em;
}

.ARROW-COL {
    align-items: center;
    display: flex;
    height: 84px;
    justify-content: center;
    margin-top: 8px;
}

.STEP-ARROW {
    width: 153px;
}

/*Medium devices (tablets, 768px to 1200px)*/
@media (min-width: 768px) and (max-width: 1199.98px) {
    .STEP-ARROW {
        width: 90%;
    }
}

/*Medium devices (tablets, less than 768px)*/
@media (max-width: 767.98px) {
    .STEP-ARROW {
        width: 0;
    }
    .ARROW-COL {
        width: 0 !important;
    }
}

.BANNER-SHADED {
    align-items: center;
    background-color: rgb(250,250,250);
    /*display: inline-block;*/
    margin: 100px 0 60px !important;
    padding: 50px 15% 20px !important;
    text-align: center;
    width: 100%;
}

.BANNER-ITEM {
    display: inline-block;
    margin-bottom: 30px;
}

#BINDER-BUTTON {
    font-size: 2em;
    margin-top: -20px;
    padding-left: 26%;
    padding-right: 26%;
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .BANNER-SHADED {
        flex-direction: column-reverse;
        padding: 30px 0 20px !important;
    }
    .BANNER-ITEM {
        width: 100%;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #BINDER-BUTTON {
        padding-left: 100px;
        padding-right: 100px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .BANNER-SHADED {
        padding: 50px 10% 20px !important;
    }
}

.CPU-BLOCK {
    text-align: center;
}

.CPU-NUMBER {
    color: rgb(64,64,64);
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 4rem;
    line-height: 1.2em;
}

.CPU-CAP {
    font-size: 20px;
    /*font-weight: bold;*/
    color: rgb(64,64,64);
}

.START-ROW {
    margin-left: 5% !important;
    margin-right: 5% !important;
    text-align: center;
}

.START-SECTION-POINT {
    margin-top: 80px;
    text-align: left;
}

.START-SECTION-HEADER {
    color: rgb(64,64,64);
    font-size: 3em;
    line-height: 1;
    margin-bottom: 20px;
}

.START-SECTION-TEXT {
    font-size: 1.25em;
    line-height: 1.5;
}

.START-IMG {
    display: inline-block;
    padding: 0 !important;
}



/* Home Page */

.HOME-SECTION {
    /*display: flex;*/
    margin-bottom: 50px;
}

.IMG-LINK-COL {
    align-items: flex-end;
    background-color:#d6eef8;
    background-size: cover;
    color: rgb(250,250,250);
    display: flex;
    font-size: 1em;
    height:350px;
    margin:20px;
    padding: 0 !important;
}

.IMG-LINK-COL:hover {
    color: rgb(250,250,250);
}

.IMG-LINK-COL-CAPTION {
    background-color: rgba(70,70,70,0.8);
    padding: 10px 5px 10px 5px !important;
    transition: font-size .1s ease-in-out;
}

.IMG-LINK-COL:hover .IMG-LINK-COL-CAPTION {
    font-size: 1.4em;
}

.HOME-SECTION-TITLE {
    margin-bottom: 24px;
}

section.HOME-NEWS {
    border: 1px solid rgb(221,221,221);
    padding: 16px;
}

article.HOME-NEWS {
    margin-left: 1rem;
}

.USER-STATS {
    border: 1px solid black;
}

.STAT-LABEL {
    background-color: rgb(39,120,185);
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    color: rgb(250,250,250);
    font-size: 1.2rem;
    line-height: 3rem;
}

.STAT-NUMBER {
    font-size: 2.5rem;
    /*line-height: 5rem;*/
}

blockquote {
    font-size: 1.5em;
    font-style: italic;
}

/*About*/

.ABOUT-TEXT {
    font-size: 1.2rem;
}

.ABOUT-BANNER-TEXT {
    font-size: 1.4rem;
    font-family: arial;
}

.DIVIDE-SMALL {
    border-top: 1px solid rgb(227,227,227);
    margin: 30px auto 30px auto;
    width: 90%;
}

/* Table Pages */

.TABLE-INFO {
    margin-bottom: 14px;
    margin-top: 28px;
}

.TABLE-TOTAL {
    display: inline-block;
    margin-left: 14px;
}

.TABLE-SUBTOTAL {
    display: inline-block;
    /*margin-left: 24px;*/
}

.PAGE-DROPDOWN-MENU {
    max-height: 10rem;
    overflow: scroll;
    text-align: center !important;
    min-width: 4rem !important;
}

.PAGE-DROPDOWN-ITEM {
    display: block;
}

.TABLE-LABELS {
    font-weight: bold;
}

.TABLE {
    background-color: rgb(245,245,245);
    border: 1px solid rgb(221,221,221);
    border-bottom: none;
    margin-bottom: 10px;
}

.TABLE-ROW {
    border-bottom: 1px solid rgb(221,221,221);
    color: rgb(118,118,118);
    padding: 10px 0px;
}

.TABLE-ROW:hover {
    background-color: rgb(250,250,250);
}

.TABLE-COL {
    padding: 0 14px;
}

.TABLE-COL-B {
    font-weight: bold;
    padding: 0 14px;
}

.TABLE-DELETE {
    color: rgb(118,118,118);
    font-size: 1.5rem;
    line-height: 1rem;
}

.TABLE-DELETE:hover {
    color: rgb(156,156,156);
    text-decoration: none;
}



/* View & Edit Pages */

.VIEW-OPTION {
    margin-right: 12px;
}

.VIEW-INFO {
    background-color: rgb(245,245,245);
    border: 1px solid rgb(221,221,221);
    border-radius: 5px;
    /*cursor: auto;*/
    margin-bottom: 20px;
    margin-top: 5px;
    padding-bottom: 8px !important;
    padding-top: 5px !important;
}

.VIEW-FIELD {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.VIEW-FIELD-B {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.FORM-FIELD {
    /*font-size: 1rem !important;*/
    /*line-height: 1rem !important;*/
    width: 225px !important;
}

#FORM-DESC {
    font-size: 1em !important;
    line-height: 1em !important;
    min-height: 62px;
    min-width: 225px !important;
    width: 225px;
    overflow: scroll;
    resize: both;
}

.INVALID-MESSAGE {
    margin-bottom: 12px !important;
}

.FUNC-CODE {
    border: 2px solid rgb(221,221,221);
    border-radius: 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 0.875rem;
    height: 24em;
    min-height: 24em;
    margin-bottom: 16px;
    margin-left: 0 !important;
    overflow: scroll;
    padding: 0.5em;
    resize: both;
    width: 48em;
    min-width: 48em;
    max-width: 100%;
}

.VIEW-RESULT {
    border: 2px solid rgb(221,221,221);
    border-radius: 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 0.875rem;
    height: 12em;
    min-height: 12em;
    margin-bottom: 16px;
    margin-left: 0 !important;
    overflow: scroll;
    padding: 0.5em;
    resize: both;
    width: 48em;
    min-width: 48em;
    max-width: 100%;
    word-wrap: break-word;
}

.EXECUTE-MODAL {
    margin-bottom: 20px;
    margin-top: 5px;
}

.EXECUTE-FIELD {
    margin-bottom: 1rem;
}

.EXECUTE-ENDPOINT-DROPDOWN {
    /*margin: 0px 0px 0px 0px;*/
}

.dropdown-menu .EXECUTE-ENDPOINT-DROPDOWN {
    color: rgb(118, 118, 118) !important;
}

.dropdown-menu .EXECUTE-ENDPOINT-DROPDOWN:hover {
    background-color: rgb(250, 250, 250);
}

.EXECUTE-PAYLOAD {
    min-height: 62px;
    min-width: 225px !important;
    width: 225px;
    overflow: scroll;
}

/* Error Pages */

#ERROR-HEADING {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -10px !important;
}

#ERROR-MAIN {
    font-family: "Times New Roman";
    font-size: 10em;
    font-style: italic;
    margin: 0px 0px 20px 120px !important;
}

#ERROR-MESSAGE {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 15px;
    line-height: 1.5em;
    /*margin-left: 20px;*/
}