{% extends 'layout.html' %}
{% block content %}

<div class="container">
    <div class="ERROR-HEADING">
       Error 404:
    </div>


<!--&lt;!&ndash;    1st idea&ndash;&gt;-->
<!--    <div class="ERROR-TITLE" style="color: #335BA2;">-->
<!--        web page(NOT FOUND)-->
<!--    </div>-->

<!--    <div class="ERROR-TITLE" style="font-size: 30px;">-->
<!--        on this-->
<!--        <div class="ERROR-TITLE" style="display: inline-block; line-height: normal; color: #335BA2;">-->
<!--            f(X)-->
<!--        </div>-->
<!--        server-->
<!--    </div>-->

    <div class="ERROR-MAIN" style="display: block; font-size: 100px; line-height: 1.5em;">
        f<span style="color:#a31621;">(X)</span>?
    </div>

    <div class="ERROR-CODE" style="line-height: 1.5em;">
        &lt;p>Sorry, the requested URL was not found.&lt;/p><br>
        &lt;p>You may return to your <a href ="{{ url_for('guiapi.home') }}">home page</a>.&lt;/p>
    </div>

</div>
{% endblock %}
