{% extends 'layout.html' %}
{% block content %}

<div class="container">
    <div class="ERROR-HEADING">
        Error 404:
    </div>

    <div class="ERROR-TITLE">
        Func<img style="display: inline-block;" src="{{ url_for('static', filename='imgs/design/funcx_redx.png') }}">? :/
    </div>




<!--     <div class="ERROR-TITLE">-->
<!--        <small>Func</small> <img src="{{ url_for('static', filename='imgs/design/funcx_redx.png') }}"> <small>page not found.</small>-->
<!--    </div>-->


<!--    <div class="ERROR-HEADING">-->
<!--        Error: 404 not found-->
<!--    </div>-->

    <div class="ERROR-TEXT">
        The requested URL was not found.
    </div>

    <div class="ERROR-TEXT">
        Please return to your <a href ="{{ url_for('guiapi.home') }}">home page</a>.
    </div>
</div>
{% endblock %}
