{% extends 'layout.html' %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            {% if title == 'New Function' %}
                <legend class="container h1 PAGE-TITLE" style="padding-left: 0;">New Function</legend>
            {% else %}
                <legend class="container h1 PAGE-TITLE" style="padding-left: 0;">Edit Function</legend>
            {% endif %}
            <dl id="VIEW-INFO" class="container">
                <dt>Title: </dt><ins>{{ form.title }}</ins>
                <dt>Language: </dt><ins>{{ form.language }}</ins>
                {% if title != 'New Function' %}
                    <dt>Date Created: </dt><ins>{{ func['timestamp'].date() }} {{ func['timestamp'].strftime('%X') }}</ins>
                    <dt>Date Edited: </dt><ins>{{ func['modified_at'].date() }} {{ func['modified_at'].strftime('%X') }}</ins>
                    <dt>UUID: </dt><ins>{{ func['function_uuid'] }}</ins>
                {% endif %}
            </dl>
            <section class="container">
                {{ form.content(id="VIEW-CONTENT", style="font-size: 76.5625%;") }}
            </section>
            <div class="container" style="padding-left: 0;">
                {{ form.submit }}
                {% if title == 'New Function' %}
                    <input type="button" onclick="window.location.href = '{{ url_for('guiapi.functions') }}';" value="Cancel">
                {% else %}
                    <input type="button" onclick="window.location.href = '{{ url_for('guiapi.view', id=func['id']) }}';" value="Cancel">
                {% endif %}
            </div>
        </fieldset>
    </form>
{% endblock %}