{% extends 'layout.html' %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            {% if title == 'New Function' %}
                <legend class="container h1 PAGE-TITLE">New Function</legend>
            {% else %}
                <legend class="container h1 PAGE-TITLE">Edit Function</legend>
            {% endif %}
            <dl id="VIEW-INFO" class="container">
                <dt>Name: </dt><dd>{{ form.name(class="form-control") }}</dd>
                <dt>Description: </dt><dd>{{ form.desc }}</dd>
                <dt>Entry Point: </dt><dd>{{ form.entry_point }}</dd>
{#                <dt>Language: </dt><dd>{{ form.language }}</dd>#}
                {% if title != 'New Function' %}
                    <dt>Created By: </dt><dd>{{ func['user_id'] }}</dd>
                    <dt>Date Created: </dt><dd>{{ func['timestamp'].date() }} {{ func['timestamp'].strftime('%X') }}</dd>
                    <dt>Date Edited: </dt><dd>{{ func['modified_at'].date() }} {{ func['modified_at'].strftime('%X') }}</dd>
                    <dt>UUID: </dt><dd>{{ func['function_uuid'] }}</dd>
                {% endif %}
            </dl>
            <section class="container">
                {{ form.code(id="FUNC-CODE") }}
            </section>
            <div class="container" style="padding-left: 0;">
                {{ form.submit }}
                {% if title == 'New Function' %}
                    <input type="button" onclick="window.location.href = '{{ url_for('guiapi.functions') }}';" value="Cancel">
                {% else %}
                    <input type="button" onclick="window.location.href = '{{ url_for('guiapi.view', id=func['id']) }}';" value="Cancel">
                {% endif %}
            </div>
        </fieldset>
    </form>
{% endblock %}