{% extends "layout.html" %}
{% block content %}
    <h1 class="container PAGE-TITLE">Endpoints</h1>
    {% if endpoints|length < 1 %}
        <div class="container PADDING-0">
            <span>You do not have any endpoints. </span>
        </div>
    {% else %}

        <section class="container TABLE-INFO PADDING-0">
            <div class="row SIDE-MARGIN-0">
                <div class="col PADDING-0">
                    {% if endpoints|length == 1 %}
                        <span class="TABLE-TOTAL">You have 1 endpoint.</span>
                    {% else %}
                        <span class="TABLE-TOTAL">You have {{ endpoints_total }} endpoints.</span>
                    {% endif %}
                    <span class="TABLE-SUBTOTAL">Online: {{ endpoints_online }}</span>
                    <span class="TABLE-SUBTOTAL">Offline: {{ endpoints_offline }}</span>
                </div>

                <nav class="col PADDING-0 FLEX-RIGHT FLEX-BOTTOM">
        {#            <a href="#">Previous</a>#}
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page</a>
                        <menu class="dropdown-menu PAGE-DROPDOWN-MENU">
                            {% for page in range(numPages) %}
                                <a class="PAGE-DROPDOWN-ITEM" data-toggle="tab" href="#page{{ loop.index }}">{{ loop.index }}</a>
                            {% endfor %}
                        </menu>
                    </div>
        {#            <a href="#">Next</a>#}
                </nav>
            </div>
        </section>

        <section class="container PADDING-0">
            <div class="row TABLE-LABELS SIDE-MARGIN-0">
                <div class="col-2">Endpoint Name</div>
                <div class="col-5">Endpoint UUID</div>
                <div class="col-2">Status</div>
                <div class="col">Date Created</div>
                <div class="col">Public/ Private</div>
            </div>
        </section>

        <section class="container TABLE PADDING-0">
            <div class="tab-content">
                {% set num = [0] %}
                {% set bound = numPages + 1 %}
                {% for page in range(1, bound) %}
                    {% if page == 1 %}
                        {% set status = "active" %}
                    {% else %}
                        {% set status = "" %}
                    {% endif %}
                    <section class="tab-pane {{ status }}" id="page{{ page }}">
                        {% for results in range(30) %}
                            {% if num[0] < endpoints_total %}
                                {% set site = endpoints[num[0]] %}
                                <section class="row TABLE-ROW SIDE-MARGIN-0">
                                    <div class="col-2 TABLE-COL-B">
                                        <a href="{{ url_for('guiapi.endpoint_view', endpoint_uuid=site.endpoint_uuid) }}">{{ site.endpoint_name }}</a>
                                    </div>
                                    <div class="col-5 TABLE-COL">{{ site.endpoint_uuid }}</div>
                                        {% if site.status == 'ONLINE' %}
                                            <div class="col-2 TABLE-COL-B text-success">{{ site.status }}</div>
                                        {% elif site.status == 'OFFLINE' %}
                                            <div class="col-2 TABLE-COL-B text-danger">{{ site.status }}</div>
                                        {% else %}
                                            <div class="col-2 TABLE-COL-B text-primary">{{ site.status }}</div>
                                        {% endif %}
                                    <div class="col TABLE-COL">{{ site.created_at.date() }} {{ site.created_at.strftime('%X') }}</div>
                                    <div class="col TABLE-COL">{{ site.public }}</div>
                                </section>
                                {% if num.append(num.pop() + 1) %}{% endif %}
                            {% endif %}
                        {% endfor %}
                    </section>
                {% endfor %}
            </div>
        </section>

        <nav class="container PADDING-0 FLEX-RIGHT">
{#            <a href="#">Previous</a>#}
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page</a>
                <menu class="dropdown-menu PAGE-DROPDOWN-MENU">
                    {% for page in range(numPages) %}
                        <a class="PAGE-DROPDOWN-ITEM" data-toggle="tab" href="#page{{ loop.index }}">{{ loop.index }}</a>
                    {% endfor %}
                </menu>
            </div>
{#            <a href="#">Next</a>#}
        </nav>

    {% endif %}
{% endblock %}
