{% extends 'layout.html' %}
{% block content %}
    <h1 class="container PAGE-TITLE">Endpoints</h1>
    <section class="container PADDING-0">
        <div class="row">
            <div class="col">
                <a class="VIEW-OPTION" data-toggle="modal" data-target="#deleteModal" href="#">Delete</a>
            </div>
            <div class="col FLEX-RIGHT">
                <a href="{{ url_for('guiapi.endpoints', uuid=endpoint.function_uuid) }}">View All Endpoints</a>
            </div>
        </div>
    </section>

<!--    &lt;!&ndash; Delete Modal &ndash;&gt;-->
<!--    <div class="modal" id="deleteModal">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="container modal-body">-->
<!--                    <form method="POST" action="">-->
<!--                        {{ delete_form.hidden_tag() }}-->
<!--                        <fieldset>-->
<!--                            <legend style="font-size: 1.2rem;">Do you really want to delete the endpoint "{{ endpoint.endpoint_name }}"?</legend>-->
<!--                            <div style="margin-top: 20px; text-align: right;">-->
<!--                                {{ delete_form.delete }}-->
<!--                                <button class="" data-dismiss="modal">Cancel</button>-->
<!--                            </div>-->
<!--                        </fieldset>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


    <dl class="container VIEW-INFO">
        <dt>Endpoint Name: </dt><dd class="VIEW-FIELD">{{ endpoint.endpoint_name }}</dd>
        <dt>Status: </dt>
            {% if endpoint.status == 'ONLINE' %}
                <div class="VIEW-FIELD-B text-success">{{ endpoint.status }}</div>
            {% elif endpoint.status == 'OFFLINE' %}
                <div class="VIEW-FIELD-B text-danger">{{ endpoint.status }}</div>
            {% else %}
                <div class="VIEW-FIELD-B text-primary">{{ endpoint.status }}</div>
            {% endif %}
        </div>
        <dt>Public/ Private </dt>
            {% if endpoint.public == false %}
                <dd class="VIEW-FIELD">Private</dd>
            {% elif endpoint.status == true %}
                <dd class="VIEW-FIELD">Public</dd>
            {% endif %}
        <dt>Date Created: </dt><dd class="VIEW-FIELD">{{ endpoint.created_at.date() }} {{ endpoint.created_at.strftime('%X') }}</dd>
        <dt>Endpoint UUID: </dt><dd class="VIEW-FIELD">{{ endpoint.endpoint_uuid }}</dd>
    </dl>
{% endblock %}
