{% extends "layout.html" %}
{% block content %}
    <h1 class="container PAGE-TITLE" style="padding-left: 0px;">Endpoints</h1>
    {% if endpoints|length < 1 %}
        <div class="container" style="padding: 0;">
            <span>You currently have no endpoints.
        </div>
    {% else %}
        <table class="container">
            <tr class="ENDPOINTS-TABLE-LABELS row" style="margin-left: 0px; margin-right: 0px;">
                <th class="col-4">No. of online endpoints:</th>
                <th class="col">{{ endpoints_online }}</th>
            </tr>
            <tr class="ENDPOINTS-TABLE-LABELS row" style="margin-left: 0px; margin-right: 0px;">
                <th class="col-4">No. of offline endpoints:</th>
                <th class="col">{{ endpoints_offline }}</th>
            </tr>
            <tr class="ENDPOINTS-TABLE-LABELS row" style="margin-left: 0px; margin-right: 0px;">
                <th class="col-4">Total no. of endpoints:</th>
                <th class="col">{{ endpoints_total }}</th>
            </tr>
        </table>
        <br/>
        <table class="container">
            <tr id="ENDPOINTS-TABLE-LABELS" class="row" style="margin-left: 0px; margin-right: 0px;">
                <th class="col-2">Endpoint Name</th>
                <th class="col-5">Endpoint UUID</th>
                <th class="col-2">Status</th>
                <th class="col">Date Created</th>
            </tr>
        </table>
        <table class="container" id="ENDPOINTS-TABLE">
            {% for sites in endpoints %}
            <tr class="row ENDPOINTS-TABLE-R" style="margin-left: 0px; margin-right: 0px;">
                <th class="col-2 ENDPOINTS-TABLE-C">{{ sites.endpoint_name }}</th>
                <th class="col-5 ENDPOINTS-TABLE-C">{{ sites.endpoint_uuid }}</th>
                    {% if sites["status"] == 'ONLINE' %}
                        <th class="col-2 ENDPOINTS-TABLE-C text-success">{{ sites.status }}</th>
                    {% elif sites["status"] == 'OFFLINE' %}
                        <th class="col-2 ENDPOINTS-TABLE-C text-danger">{{ sites.status }}</th>
                    {% else %}
                        <th class="col-2 ENDPOINTS-TABLE-C text-primary">{{ sites.status }}</th>
                    {% endif %}
                <th class="col ENDPOINTS-TABLE-C">{{ sites['created_at'].date() }} {{ sites['created_at'].strftime('%X') }}</th>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
