{% extends 'layout.html' %}
{% block content %}
    <h1 class="container PAGE-TITLE">{{ func.function_name }}</h1>
    <section class="container PADDING-0">
        <div class="row">
            <div class="col">
                <a class="VIEW-OPTION" href="{{ url_for('guiapi.function_edit', uuid=func.function_uuid) }}">Edit</a>
                <a class="VIEW-OPTION" data-toggle="modal" data-target="#myModal" href="">Run</a>
                <a class="VIEW-OPTION" href="{{ url_for('guiapi.function_tasks', uuid=func.function_uuid) }}">Tasks</a>
                <a class="VIEW-OPTION" data-toggle="modal" data-target="#deleteModal" href="">Delete</a>
            </div>
            <div class="col FLEX-RIGHT">
                <a href="{{ url_for('guiapi.functions') }}">Back to Functions &Gt;</a>
            </div>
        </div>
    </section>

    <!-- Delete Modal -->
    <div class="modal" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container modal-body">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset>
                            <legend style="font-size: 1.2rem;">Do you really want to delete the function "{{ func.function_name }}"?</legend>
                            <div style="margin-top: 20px; text-align: right;">
                                {{ delete_form.delete }}
                                <button class="" data-dismiss="modal">Cancel</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

<form method="POST" action="">
    {{ form.hidden_tag() }}

    <!-- The Modal/ Pop-up window -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Run function '{{ func.function_name}}'</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="container modal-body EXECUTE-TITLE">
              <dt>Function Name: </dt>
                <div class="EXECUTE-FIELD">{{ func.function_name }}</div>
              <dt>Function UUID: </dt>
                <div class="EXECUTE-FIELD">{{ func.function_uuid }}</div>
              <dt>Endpoint Name: </dt>
                <div class="EXECUTE-FIELD">
<!--                    <select id="ENDPOINTS">-->
<!--                      {% for each in endpoints_list %}-->
<!--                      <option value="{{each.endpoint_name}}, {{each.endpoint_uuid}}"> {{each.endpoint_name}}, {{each.endpoint_uuid}}</option>-->
<!--                      {% endfor %}-->
<!--                    </select>-->

                    <select id="ENDPOINTS">
                      {% for each in endpoints_list %}
                      <option value="{{each.endpoint_name}}"> {{each.endpoint_name}}</option>
                      {% endfor %}
                    </select>
                </div>
              <dt>Endpoint UUID: </dt>
                <div class="EXECUTE-FIELD"> {{ func.endpoint_uuid}} (Endpoint UUID will appear once the user chose the endpoint)</div>
              <dt>Payload: </dt>
                <dd>{{ form.payload(class="form-control EXECUTE-PAYLOAD", placeholder="Enter input") }}</dd>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button class="btn btn-success" data-dismiss="modal">Run</button>
              <button class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>



    <dl class="container VIEW-INFO">
        <dt>Name: </dt><dd class="VIEW-FIELD">{{ func.function_name }}</dd>
        {% if func.description != "" %}
            <dt>Description: </dt>
            <dd class="VIEW-FIELD">{{ func.description }}</dd>
        {% endif %}
        <dt>Entry Point: </dt><dd class="VIEW-FIELD">{{ func.entry_point }}</dd>
        <dt>Created By: </dt><dd class="VIEW-FIELD">{{ func.username }}</dd>
        <dt>Date Created: </dt><dd class="VIEW-FIELD">{{ func.timestamp.date() }} {{ func.timestamp.strftime('%X') }}</dd>
        <dt>Date Edited: </dt><dd class="VIEW-FIELD">{{ func.modified_at.date() }} {{ func.modified_at.strftime('%X') }}</dd>
        <dt>UUID: </dt><dd class="VIEW-FIELD">{{ func.function_uuid }}</dd>
    </dl>
    <section class="container PADDING-0">
        <pre class="python FUNC-CODE"><code class="PADDING-0">{{ func.function_code }}</code></pre>
    </section>
{% endblock %}