{% extends "layout.html" %}
{% block content %}
    <h1 class="container PAGE-TITLE" style="padding-left: 0px;">Your Functions</h1>
    {% if functions|length < 1 %}
        <div class="container" style="padding: 0;">
            <span>You currently have no functions. <a href="{{ url_for('guiapi.new') }}">Create one here!</a></span>
        </div>
    {% else %}
{#        {% set current_page = 1 %}#}
{#        <nav>#}
{#            <a href="#">Previous</a>#}
{#            <input type="text" value="{{ current_page }}">#}
{#            <a>Next</a>#}
{#        </nav>#}
        <table class="container">
            <tr class="FUNCTIONS-TABLE-LABELS row" style="margin-left: 0px; margin-right: 0px;">
                <th class="col-4">Total no. of functions:</th>
                <th class="col">{{ functions_total }}</th>
            </tr>
        </table>
        <br/>

        <table class="container">
            <tr class="FUNCTIONS-TABLE-LABELS row" style="margin-left: 0px; margin-right: 0px;">
                <th class="col">Create a new function <a href="{{ url_for('guiapi.new') }}">here</a>!</th>
            </tr>
        </table>
        <br/>

        <table class="container">
            <tr id="FUNCTIONS-TABLE-LABELS" class="row" style="margin-left: 0px; margin-right: 0px;">
                <th class="col-6">Function</th>
{#                <th class="col">Language</th>#}
                <th class="col-3">Date Created</th>
                <th class="col-3">Date Edited</th>
            </tr>
        </table>
        <table class="container" id="FUNCTIONS-TABLE">
            {% for func in functions %}
                <tr class="row FUNCTIONS-TABLE-R" style="margin-left: 0px; margin-right: 0px;">
                    <th class="col-6 FUNCTIONS-TABLE-C">
                        <a href="{{ url_for('guiapi.view', id=func['function_id']) }}">{{ func['function_name'] }}</a>
                    </th>
{#                    <th class="col FUNCTIONS-TABLE-C">{{ func.language }}</th>#}
                    <th class="col-3 FUNCTIONS-TABLE-C">{{ func['timestamp'].date() }} {{ func['timestamp'].strftime('%X') }}</th>
                    <th class="col-3 FUNCTIONS-TABLE-C">{{ func['modified_at'].date() }} {{ func['modified_at'].strftime('%X') }}</th>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}