{% extends "layout.html" %}
{% block content %}
    <h1 class="container PAGE-TITLE">Your Functions</h1>
    {% if functions|length < 1 %}
        <div class="container PADDING-0">
            <span>You currently have no functions. <a href="{{ url_for('guiapi.new') }}">Create one here!</a></span>
        </div>
    {% else %}

{#        <div class="container PADDING-0">#}
{#            <a href="{{ url_for('guiapi.new') }}">New Function &Gt;</a>#}
{#        </div>#}

        <div class="container PADDING-0" style="margin-bottom: 14px; margin-top: 28px;">
            <div class="row SIDE-MARGIN-0">
                <div class="col PADDING-0">
                    <span style="margin-left: 14px;">You have {{ functions_total }} functions. <a href="{{ url_for('guiapi.new') }}">Write new function &Gt;</a></span>
                </div>
                <nav class="col PADDING-0 FLEX-END">
        {#            <a href="#">Previous</a>#}
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page</a>
                        <menu class="dropdown-menu PAGE-DROPDOWN-MENU">
                            {% for page in range(numPages) %}
                                <a class="PAGE-DROPDOWN-OPTION" data-toggle="tab" href="#page{{ loop.index }}">{{ loop.index }}</a>
                            {% endfor %}
                        </menu>
                    </div>
        {#            <a href="#">Next</a>#}
                </nav>
            </div>
        </div>

        <table class="container">
            <tr id="FUNCTIONS-TABLE-LABELS" class="row SIDE-MARGIN-0">
                <th class="col-6">Function</th>
                <th class="col-3">Date Created</th>
                <th class="col-3">Date Edited</th>
            </tr>
        </table>
        <section class="container FUNCTIONS-TABLE PADDING-0">
            <div class="tab-content">
                {% set num = [0] %}
                {% set bound = numPages + 1 %}
                {% for page in range(1, bound) %}
                    {% if page == 1 %}
                        {% set status = "active" %}
                    {% else %}
                        {% set status = "" %}
                    {% endif %}
                    <section class="tab-pane {{ status }}" id="page{{ page }}">
                        {% for results in range(30) %}
                            {% if num[0] < functions_total %}
                                {% set func = functions[num[0]] %}
                                <section class="row FUNCTIONS-TABLE-R SIDE-MARGIN-0">
                                    <div class="col-6 FUNCTIONS-TABLE-C">
                                        <a href="{{ url_for('guiapi.view', uuid=func['function_uuid']) }}" style="font-weight: bold;">{{ func['function_name'] }}</a>
                                    </div>
                                    <div class="col-3 FUNCTIONS-TABLE-C">{{ func['timestamp'].date() }} {{ func['timestamp'].strftime('%X') }}</div>
                                    <div class="col-3 FUNCTIONS-TABLE-C">{{ func['modified_at'].date() }} {{ func['modified_at'].strftime('%X') }}</div>
                                </section>
                                {% if num.append(num.pop() + 1) %}{% endif %}
                            {% endif %}
                        {% endfor %}
                    </section>
                {% endfor %}
            </div>
        </section>

        <nav class="container PADDING-0 FLEX-END">
{#            <a href="#">Previous</a>#}
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page</a>
                <menu class="dropdown-menu PAGE-DROPDOWN-MENU">
                    {% for page in range(numPages) %}
                        <a class="PAGE-DROPDOWN-OPTION" data-toggle="tab" href="#page{{ loop.index }}">{{ loop.index }}</a>
                    {% endfor %}
                </menu>
            </div>
{#            <a href="#">Next</a>#}
        </nav>

    {% endif %}
{% endblock %}