{% extends "layout.html" %}
{% block content %}
    <div class="container">

        <section class="row HOME-SECTION CENTER" style="margin-bottom: 30px; margin-top: 60px;">
            <div class="col">
                <figure class="USER-STATS">
                    <figcaption class="STAT-LABEL">Total Functions Created</figcaption>
                    <output class="STAT-NUMBER">{{ stats[0] }}</output>
                </figure>
            </div>
            <div class="col">
                <figure class="USER-STATS">
                    <figcaption class="STAT-LABEL">Total Functions Executed</figcaption>
                    <output class="STAT-NUMBER">{{ stats[1] }}</output>
                </figure>
            </div>
            <div class="col">
                <figure class="USER-STATS">
                    <figcaption class="STAT-LABEL">Total Core Hours Used</figcaption>
                    <output class="STAT-NUMBER">{{ stats[2] }}</output>
                </figure>
            </div>
        </section>

        <section class="row HOME-SECTION">
            <a href="{{ url_for('guiapi.functions') }}" class="col IMG-LINK-COL" style="background-image: url({{ url_for('static', filename='imgs/pictures/your_funcs_img.JPG') }});">
                <div class="container-fluid IMG-LINK-COL-CAPTION">View Your Functions</div>
            </a>
            <a href="{{ url_for('guiapi.function_new') }}" class="col IMG-LINK-COL" style="background-image: url({{ url_for('static', filename='imgs/pictures/write_func_img.JPG') }});">
                <div class="container-fluid IMG-LINK-COL-CAPTION">Write a Function</div>
            </a>
        </section>

        <section class="HOME-SECTION HOME-NEWS">
            <h2 class="HOME-SECTION-TITLE">News & Updates</h2>
            <article class="HOME-NEWS" style="margin-bottom: 1rem;">
                <h3>New Changes: 8/15/19</h3>
                <ul>- Total Core Hours are counted on the start page.</ul>
                <ul>- Public endpoints are visible in their table and on the run modal.</ul>
                <ul>- There is an inaccessible about page that needs to be filled in.</ul>
                <ul>- The start page and navbar now feature a link to the funcX paper.</ul>
                <ul>- Authorization is now set up. You must be logged in to access all pages but the start page. Function, endpoint, and task pages can only be accessed by the person who create them.</ul>
                <ul>- The website logo is now less pixellated and looks smoother.</ul>
                <br>
                <ul>- The website is now about ready for use. Thanks for giving us this opportunity. Happy serverless supercomputing!</ul>
                <span style="margin-left: 1rem;">- Avery and Teresa</span>
            </article>
            <article class="HOME-NEWS" style="margin-bottom: 1rem;">
                <h3>New Changes: 8/12/19</h3>
                <ul>- Functions can now be executed from the view page!</ul>
                <ul>- Endpoints have their own view pages with information about them.</ul>
                <ul>- Both functions and endpoints can be deleted from their respective view pages.</ul>
                <span style="margin-left: 1rem;">- Avery and Teresa</span>
            </article>
            <article class="HOME-NEWS">
                <h3>New Changes: 8/08/19</h3>
                <ul>- The run button on the function view pages now brings up a popup with options for your task. They don't run quite yet though</ul>
                <ul>- To celebrate almost being able to run your functions, you can now delete them! Bon voyage to all your hard work!</ul>
                <ul>- Task UUIDs can now be viewed in the function tasks page.</ul>
                <ul>- Endpoints have a new but still unfinished delete button.</ul>
                <ul>- Redesigned the Home Page with a new spot for our messages (and other potential Globus/funcX news) and added statistic counters. Who has the most CPU hours?</ul>
                <ul>- Ryan's talk about funcX has been removed for now and will be placed in a more appropriate location.</ul>
                <span style="margin-left: 1rem;">- Avery and Teresa</span>
            </article>
        </section>

    </div>
{% endblock %}