{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <pre class="DEV-NOTE">
New Changes: 8/01/19
- New and improved start page! Thanks for the feedback!
- Your Functions and New Functions have been condensed in the navbar to be a dropdown.
- Tasks Page with tasks
- A page that shows all of your tasks for a specific function. Access on the view page!
- You can view specific tasks. Currently, use "/view_tasks/&lt;uuid&gt;" to access.
- Functions, Endpoints, Tasks, and Function Tasks pages now have pagination. No more scrolling through 2300 tasks (Ryan)!
    - Avery and Teresa</pre>
        <div class="row HOME-ROW">
            <a href="{{ url_for('guiapi.functions') }}" class="col IMG-LINK-COL" style="background-image: url({{ url_for('static', filename='imgs/pictures/your_funcs_img.JPG') }});">
                <div class="container-fluid IMG-LINK-COL-CAPTION">View Your Functions</div>
            </a>
            <a href="{{ url_for('guiapi.function_new') }}" class="col IMG-LINK-COL" style="background-image: url({{ url_for('static', filename='imgs/pictures/write_func_img.JPG') }});">
                <div class="container-fluid IMG-LINK-COL-CAPTION">Write a Function</div>
            </a>
        </div>
        <div class="row HOME-ROW">
            <div class="col-4">
                <blockquote class="text-muted">
                    &quotfuncX aims to remove the barriers that exist between functions and large-scale computing infrastructure by simplifying execution of function-based workloads, enabling integration of HPC capabilities in applications and analysis pipelines, and ultimately increasing the usability of computing infrastructure.&quot
                </blockquote>
            </div>
            <div class="col-8 FLEX-RIGHT">
                <iframe width="672" height="378" src="https://www.youtube.com/embed/OX8njY7CKHo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="background-color:#d6eef8;"></iframe>
            </div>
        </div>
    </div>
{% endblock %}