{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
        <header class="container-fluid navbar navbar-dark" id="START-HEADER">
            <div class="row SIDE-MARGIN-0" id="START-NAV-DESKTOP-ROW">
                <img src="{{ url_for('static', filename='imgs/logos/funcx.png') }}" alt="funcX" id="START-LOGO">
                <div class="col-6 START-HEADER-COL START-NAV-MOBILE-HIDDEN">
                    <h1>funcX</h1>
                    <h2 class="h4" style="margin-bottom: 16px;">Serverless Supercomputing</h2>
                    <button class="btn BTN-OUTLINE-LIGHT" onclick="window.location.href = 'https://arxiv.org/abs/1908.04907';" style="margin-bottom: 4px; margin-right: 8px;">Paper</button><!--
                    --><button class="btn BTN-OUTLINE-LIGHT" onclick="window.location.href = 'https://github.com/funcx-faas';" style="margin-bottom: 4px; margin-right: 8px;">GitHub</button><!--
                    --><button class="btn BTN-OUTLINE-LIGHT" onclick="window.location.href = 'https://funcx.readthedocs.io/en/latest/';" style="margin-bottom: 4px;">Read the Docs</button>
                </div>

                <div class="col-3 START-HEADER-COL PADDING-0" style="margin-top: 28px; text-align: right;">
                    <button class="btn BTN-OUTLINE-LIGHT START-NAV-MOBILE-HIDDEN" onclick="window.location.href = '{{ url_for('auth_api.login') }}';" style="font-size:2em;">
                        <img class="BTN-IMG" src="{{ url_for('static', filename='imgs/logos/globus_logo.png') }}" style="width: 40px; margin-bottom: 4px; margin-right: 4px;">Log In</button>
                    <button class="navbar-toggler START-NAV-DESKTOP-HIDDEN" id="START-NAV-MENU-BUTTON" style="position: fixed; right: 20px;" type="button" data-toggle="collapse" data-target="#START-NAV-MENU" aria-controls="START-NAV-MENU" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>

            <div class="row START-NAV-DESKTOP-HIDDEN collapse" id="START-NAV-MENU">
                <a class="START-NAV-MENU-ROW" href="https://arxiv.org/abs/1908.04907">
                    <span>Paper</span>
                </a>
                <a class="START-NAV-MENU-ROW" href="https://github.com/funcx-faas">
                    <span>GitHub</span>
                </a>
                <a class="START-NAV-MENU-ROW" href="https://funcx.readthedocs.io/en/latest/">
                    <span>Read the Docs</span>
                </a>
                <a class="START-NAV-MENU-ROW" href="{{ url_for('auth_api.login') }}">
                    <span>Log In</span>
                </a>
            </div>
        </header>

        <div class="container-fluid PADDING-0">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} ALERT" style="margin: -90px 5% 80px;">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <section class="row SIDE-MARGIN-0" id="STEPS-ROW">
            <div class="col-1"></div>
            <div class="col-md-2 STEP-COL">
                <img class="CIRCLE-NUM" src="{{ url_for('static', filename='imgs/design/1_circled.png') }}">
                <span class="STEP-DESC">Deploy an Endpoint</span>
            </div>
            <div class="col-2 ARROW-COL">
                <img class="STEP-ARROW" src="{{ url_for('static', filename='imgs/design/arrow.png') }}">
            </div>
            <div class="col-md-2 STEP-COL">
                <img class="CIRCLE-NUM" src="{{ url_for('static', filename='imgs/design/2_circled.png') }}">
                <span class="STEP-DESC">Register a Function</span>
            </div>
            <div class="col-2 ARROW-COL">
                <img class="STEP-ARROW" src="{{ url_for('static', filename='imgs/design/arrow.png') }}">
            </div>
            <div class="col-md-2 STEP-COL">
                <img class="CIRCLE-NUM" src="{{ url_for('static', filename='imgs/design/3_circled.png') }}">
                <span class="STEP-DESC">Run From Anywhere</span>
            </div>
        </section>

        <section class="row BANNER-SHADED">
            <div class="col-6 BANNER-ITEM PADDING-0">
                <button class="btn BTN-OUTLINE-DARK" id="BINDER-BUTTON" onclick="window.location.href = 'https://mybinder.org/v2/gh/funcx-faas/funcx/master?filepath=examples%2Fintroduction.ipynb';">
                    <img class="BTN-IMG" src="{{ url_for('static', filename='imgs/logos/binder_logo.png') }}" style="width: 40px; margin-bottom: 8px;">Try funcX</button>
            </div>

            <div class="col-6 BANNER-ITEM CPU-BLOCK PADDING-0">
                <h2>Core hours burned: </h2>
                <h2><span id="core_hours">{{ burned }}</span></h2>
            </div>
        </section>

        <script type="text/javascript">
            $(document).ready(function() {
                var url = "wss://" + document.domain + ":" + location.port;
                var socket = io.connect(url + "/ws_core_hours");
                socket.on('msg', function(msg) {
                    $("#core_hours").html(msg.count);
                });
            });
        </script>


        <section class="row START-ROW">
            <div class="col-6 START-SECTION-POINT">
                <h3 class="START-SECTION-HEADER">Turn any resource into a function-serving endpoint</h3>
                <p class="text-muted START-SECTION-TEXT">Deploying a funcX endpoint transforms clouds, clusters, and supercomputers into a high performance function-serving platform.</p>
            </div>
            <div class="col-6">
                <img class="START-IMG" src="{{ url_for('static', filename='imgs/pictures/network_cloud.png') }}" style="width: 300px;">
            </div>
        </section>

        <div class="DIVIDE"></div>

        <section class="row START-ROW">
            <div class="col-6">
                <img class="START-IMG" src="{{ url_for('static', filename='imgs/pictures/notebook.png') }}" style="width: 550px;">
            </div>
            <div class="col-6 START-SECTION-POINT">
                <h3 class="START-SECTION-HEADER">Reliably execute functions on remote endpoints</h3>
                <p class="text-muted START-SECTION-TEXT">Interact with funcX through a hosted web service. funcX provides fault tolerance by re-executing failed functions.</p>
            </div>
        </section>

        <div class="DIVIDE"></div>

        <section class="row START-ROW">
            <div class="col-6 START-SECTION-POINT">
                <h3 class="START-SECTION-HEADER">Execute millions of functions across thousands of nodes</h3>
                <p class="text-muted START-SECTION-TEXT">funcX efficiently manages connected resources by elastically deploying workers and containers across nodes.</p>
            </div>
            <div class="col-6">
                <img class="START-IMG" src="{{ url_for('static', filename='imgs/pictures/strong_weak_scaling.png') }}" style="width: 300px;">
            </div>
        </section>

        <div class="DIVIDE"></div>

        <section class="row START-ROW">
            <div class="col-6">
                <img class="START-IMG" src="{{ url_for('static', filename='imgs/logos/globus_logo_full.png') }}" style="display: block; margin: 0 auto 20px auto; width: 480px;">
                <img class="START-IMG" src="{{ url_for('static', filename='imgs/logos/singularity_logo.png') }}" style="width: 120px;">
                <img class="START-IMG" src="{{ url_for('static', filename='imgs/logos/docker_logo.png') }}" style="margin: 0 40px; width: 120px;">
                <img class="START-IMG" src="{{ url_for('static', filename='imgs/logos/shifter_logo.png') }}" style="margin: 0 10px; width: 100px;">
            </div>
            <div class="col-6 START-SECTION-POINT">
                <h3 class="START-SECTION-HEADER">Securely execute functions in customized containers</h3>
                <p class="text-muted START-SECTION-TEXT">Log in using hundreds of supported identity providers. funcX implements fine-grained access control to endpoints and function executions are isolated within containers.</p>
            </div>
        </section>
{% endblock %}