{% extends "layout.html" %}
{% block content %}
    <h1 class="container PAGE-TITLE">Tasks</h1>
    {% if tasks|length < 1 %}
        <div class="container PADDING-0">
            <span>You do not have any tasks. Create a task by running a function.</span>
        </div>
    {% else %}

        <section class="container TABLE-INFO PADDING-0">
            <div class="row SIDE-MARGIN-0">
                <div class="col PADDING-0">
                    {% if tasks|length == 1 %}
                        <span class="TABLE-TOTAL">You have 1 task.</span>
                    {% else %}
                        <span class="TABLE-TOTAL">You have {{ tasks_total }} tasks.</span>
                    {% endif %}
                </div>

                <nav class="col PADDING-0 FLEX-RIGHT FLEX-BOTTOM">
        {#            <a href="#">Previous</a>#}
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page</a>
                        <menu class="dropdown-menu PAGE-DROPDOWN-MENU">
                            {% for page in range(numPages) %}
                                <a class="PAGE-DROPDOWN-ITEM" data-toggle="tab" href="#page{{ loop.index }}">{{ loop.index }}</a>
                            {% endfor %}
                        </menu>
                    </div>
        {#            <a href="#">Next</a>#}
                </nav>
            </div>
        </section>

        <section class="container PADDING-0">
            <div class="row TABLE-LABELS SIDE-MARGIN-0">
                <div class="col-4">Task ID</div>
                <div class="col-3">Function</div>
                <div class="col-2">Status</div>
                <div class="col-3">Endpoint</div>
            </div>
        </section>

        <section class="container TABLE PADDING-0">
            <div class="tab-content">
                {% set num = [0] %}
                {% set bound = numPages + 1 %}
                {% for page in range(1, bound) %}
                    {% if page == 1 %}
                        {% set status = "active" %}
                    {% else %}
                        {% set status = "" %}
                    {% endif %}
                    <section class="tab-pane {{ status }}" id="page{{ page }}">
                        {% for results in range(30) %}
                            {% if num[0] < tasks_total %}
                                {% set task = tasks[num[0]] %}
                                <section class="row TABLE-ROW SIDE-MARGIN-0" href="{{ url_for('guiapi.view_tasks', task_id=task.task_id) }}">
                                    <div class="col-4 TABLE-COL-B">
                                        <a href="{{ url_for('guiapi.task_view', task_id=task.task_id) }}">{{ task.task_id }}</a>
                                    </div>
                                    <div class="col-3 TABLE-COL-B">
                                        <a href="{{ url_for('guiapi.function_view', uuid=task.function_id) }}">{{ task.function_name }}</a>
                                    </div>
                                    {% if task.status == 'SUCCEEDED' %}
                                        <div class="col-2 TABLE-COL-B text-success">{{ task.status }}</div>
                                    {% elif task.status == 'FAILED' %}
                                        <div class="col-2 TABLE-COL-B text-danger">{{ task.status }}</div>
                                    {% elif task.status == 'ACTIVE' %}
                                        <div class="col-2 TABLE-COL-B text-primary">{{ task.status }}</div>
                                    {% elif task.status == 'PENDING' %}
                                        <div class="col-2 TABLE-COL-B text-warning">{{ task.status }}</div>
                                    {% elif task.status == 'UNKNOWN' %}
                                        <div class="col-2 TABLE-COL-B text-info">{{ task.status }}</div>
                                    {% else %}}
                                        <div class="col-2 TABLE-COL-B">{{ task.status }}</div>
                                    {% endif %}
                                    <div class="col-3 TABLE-COL-B">{{ task.endpoint_name }}</div>
                                </section>
                                {% if num.append(num.pop() + 1) %}{% endif %}
                            {% endif %}
                        {% endfor %}
                    </section>
                {% endfor %}
            </div>
        </section>

        <nav class="container PADDING-0 FLEX-RIGHT">
{#            <a href="#">Previous</a>#}
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page</a>
                <menu class="dropdown-menu PAGE-DROPDOWN-MENU">
                    {% for page in range(numPages) %}
                        <a class="PAGE-DROPDOWN-ITEM" data-toggle="tab" href="#page{{ loop.index }}">{{ loop.index }}</a>
                    {% endfor %}
                </menu>
            </div>
{#            <a href="#">Next</a>#}
        </nav>

    {% endif %}
{% endblock %}
