{% extends "layout.html" %}
{% block content %}
    <h1 class="container PAGE-TITLE" style="padding-left: 0px;">Tasks</h1>
    {% if tasks|length < 1 %}
        <div class="container" style="padding: 0;">
            <span>You currently have no tasks. Create a task by running a function.</span>
        </div>
    {% else %}
        <table class="container">
            <tr class="TASKS-TABLE-LABELS row">
                <th class="col">Total no. of tasks: {{ tasks_total }}</th>
            </tr>
        </table>
        <br/>
{#        <table class="container">#}
{#            <tr class="TASKS-TABLE-LABELS row">#}
{#                <th class="col">Create a new task here!</th>#}
{#            </tr>#}
{#        </table>#}
{#        <br/>#}

        <nav class="container" style="display: flex; justify-content: flex-end; margin: 10px auto;">
{#            <a href="#">Previous</a>#}
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page</a>
                <menu class="dropdown-menu" style="height: 10rem; overflow: scroll;">
                    {% for page in range(numPages) %}
                        <a class="dropdown-itemx" data-toggle="tab" href="#page{{ loop.index }}" style="display: block;">{{ loop.index }}</a>
                    {% endfor %}
                </menu>
            </div>
{#            <a href="#">Next</a>#}
        </nav>

        <table class="container">
            <tr class="TASKS-TABLE-LABELS row">
                <th class="col">Task ID</th>
                <th class="col">Function</th>
                <th class="col">Status</th>
{#                <th class="col">Result</th>#}
                <th class="col">Endpoint</th>
            </tr>
        </table>

        <section class="container TASKS-TABLE" style="padding: 0;">
            <div class="tab-content">
                {% set num = [0] %}
                {% set bound = numPages + 1 %}
                {% for page in range(1, bound) %}
                    {% if page == 1 %}
                        {% set status = "active" %}
                    {% else %}
                        {% set status = "" %}
                    {% endif %}
                    <section class="tab-pane {{ status }}" id="page{{ page }}">
                        {% for results in range(30) %}
                            {% if num[0] < tasks_total %}
                                {% set task = tasks[num[0]] %}
                                <section class="row TASKS-TABLE-R" style="margin-left: 0px; margin-right: 0px;">
                                    <div class="col TASKS-TABLE-C">
                                        <a href="{{ url_for('guiapi.view_tasks', task_id=task['task_id']) }}" style="font-weight: bold;">{{ task.task_id }}</a></div>
                                        <div class="col TASKS-TABLE-C" style="font-weight: bold;">
                                            <a href="{{ url_for('guiapi.view', uuid=task['function_id']) }}" style="font-weight: bold;">{{ task.function_name }}</a></div>
                                        {% if task["status"] == 'SUCCEEDED' %}
                                            <div class="col TASKS-TABLE-C text-success" style="font-weight: bold;">{{ task.status }}</div>
                                        {% elif task["status"] == 'FAILED' %}
                                            <div class="col TASKS-TABLE-C text-danger" style="font-weight: bold;">{{ task.status }}</div>
                                        {% elif task["status"] == 'ACTIVE' %}
                                            <div class="col TASKS-TABLE-C text-primary" style="font-weight: bold;">{{ task.status }}</div>
                                        {% elif task["status"] == 'PENDING' %}
                                            <div class="col TASKS-TABLE-C text-warning" style="font-weight: bold;">{{ task.status }}</div>
                                        {% elif task["status"] == 'UNKNOWN' %}
                                            <div class="col TASKS-TABLE-C text-info" style="font-weight: bold;">{{ task.status }}</div>
                                        {% else %}}
                                            <div class="col TASKS-TABLE-C">{{ task.status }}</div>
                                        {% endif %}
                    {#                <div class="col TASKS-TABLE-C">{{ task.result }}</div>#}
                                    <div class="col TASKS-TABLE-C" style="font-weight: bold;">{{ task.endpoint_name }}</div>
                                </section>
                                {% if num.append(num.pop() + 1) %}{% endif %}
                            {% endif %}
                        {% endfor %}
                    </section>
                {% endfor %}
            </div>
        </section>

        <nav class="container" style="display: flex; justify-content: flex-end; margin: 10px auto;">
{#            <a href="#">Previous</a>#}
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page</a>
                <menu class="dropdown-menu" style="height: 10rem; overflow: scroll;">
                    {% for page in range(numPages) %}
                        <a class="dropdown-itemx" data-toggle="tab" href="#page{{ loop.index }}" style="display: block;">{{ loop.index }}</a>
                    {% endfor %}
                </menu>
            </div>
{#            <a href="#">Next</a>#}
        </nav>

    {% endif %}
{% endblock %}
