{% extends 'layout.html' %}
{% block content %}
    <h1 class="container PAGE-TITLE">Tasks</h1>
    <section class="container PADDING-0">
        <div class="row">
            <div class="col">
                <a class="VIEW-OPTION" href="{{ url_for('guiapi.function_tasks', uuid=task.function_id) }}">View Other Tasks</a>
            </div>
            <div class="col FLEX-RIGHT">
                <a href="{{ url_for('guiapi.functions', uuid=task.function_uuid) }}">View All Tasks</a>
            </div>
        </div>
    </section>

    <dl class="container VIEW-INFO">
        <dt>Function: </dt><dd class="VIEW-FIELD"><a href="{{ url_for('guiapi.function_view', uuid=task.function_id) }}">{{ task.function_name }}</a></dd>
        <dt>Endpoint: </dt><dd class="VIEW-FIELD">{{ task.endpoint_name }}</dd>
        <dt>Status: </dt>
        {% if task.status == 'SUCCEEDED' %}
            <dd class="VIEW-FIELD-B text-success">{{ task.status }}</dd>
        {% elif task.status == 'FAILED' %}
            <dd class="VIEW-FIELD-B text-danger">{{ task.status }}</dd>
        {% elif task.status == 'ACTIVE' %}
            <dd class="VIEW-FIELD-B text-primary">{{ task.status }}</dd>
        {% elif task.status == 'PENDING' %}
            <dd class="VIEW-FIELD-B text-warning">{{ task.status }}</dd>
        {% elif task.status == 'UNKNOWN' %}
            <dd class="VIEW-FIELD-B text-info">{{ task.status }}</dd>
        {% else %}
            <dd class="VIEW-FIELD-B">{{ task.status }}</dd>
        {% endif %}
        <dt>Date Started: </dt><dd class="VIEW-FIELD">{{ task.created_at.date() }} {{ task.created_at.strftime('%X') }}</dd>
        <dt>Date Completed: </dt><dd class="VIEW-FIELD">{{ task.modified_at.date() }} {{ task.modified_at.strftime('%X') }}</dd>
        <dt>Task UUID: </dt><dd class="VIEW-FIELD">{{ task.task_id }}</dd>
    </dl>
    <section class="container PADDING-0">
        <div>Result:</div>
        <pre class="VIEW-RESULT">{{ task.result }}</pre>
    </section>
{% endblock %}
