{% extends 'layout.html' %}
{% block content %}
    <h1 class="container PAGE-TITLE">Tasks</h1>

  <section class="container" style="padding-left: 0px; padding-right: 0px;">
        <div class="row">
            <div class="col">
                <a href="{{ url_for('guiapi.view', uuid=tasks['function_uuid']) }}" style="margin-right: 10px;">View Function '{{ tasks.function_name}}'</a>
            </div>
            <div class="col" style="display:flex; justify-content:flex-end; padding-left: 0px;">
                <a href="{{ url_for('guiapi.functions') }}">Back to Tasks</a>
            </div>
        </div>
    </section>

    <dl class="container VIEW-INFO">
        <dt>Function: </dt><dd>{{ tasks['function_name'] }}</dd>
        <dt>Endpoint: </dt><dd>{{ tasks['endpoint_name'] }}</dd>
        <dt>Status: </dt><dd>{{ tasks['status'] }}</dd>
        <dt>Date Started: </dt><dd>{{ tasks['created_at'].date() }} {{ tasks['created_at'].strftime('%X') }}</dd>
        <dt>Date Completed: </dt><dd>{{ tasks['modified_at'].date() }} {{ tasks['modified_at'].strftime('%X') }}</dd>
        <dt>Task UUID: </dt><dd>{{ tasks['task_id'] }}</dd>
    </dl>
    <br/>
    <section class="container">
        <p><b>Results:</b></p>
        <pre class="python FUNC-CODE">{{ tasks['result'] }}</pre>
    </section>
{% endblock %}
