{% extends 'layout.html' %}
{% block content %}
    <h1 class="container PAGE-TITLE" style="padding-left: 0px;">{{ name }}</h1>
    <section class="container" style="padding-left: 0px; padding-right: 0px;">
        <div class="row">
            <div class="col">
                <a href="{{ url_for('guiapi.edit', id=id) }}" style="margin-right: 10px;">Edit</a>
                <a href="{{ url_for('guiapi.delete', id=id) }}" style="margin-right: 10px;">Delete</a>
                <a href="">Run</a>
            </div>
            <div class="col" style="display:flex; justify-content:flex-end; padding-left: 0px;">
                <a href="{{ url_for('guiapi.functions') }}">Back to Functions</a>
            </div>
        </div>
    </section>
    <dl id="VIEW-INFO" class="container">
        <dt>Title: </dt><dd>{{ name }}</dd>
{#        <dt>Language: </dt><dd>{{ func.language }}</dd>#}
        <dt>Description: </dt><dd>{{ desc }}</dd>
        <dt>Created By: </dt><dd>{{ user_id }}</dd>
        <dt>Date Created: </dt><dd>{{ date_created }}</dd>
{#        {{ date_created.date() }} {{ date_created.strftime('%X') }}#}
        <dt>Date Edited: </dt><dd>{{ date_modified.date() }} {{ date_modified.strftime('%X') }}</dd>
        <dt>UUID: </dt><dd>{{ function_uuid }}</dd>
    </dl>
    <section class="container">
        <pre id="VIEW-CONTENT" class="python"><code>{{ function_code }}</code></pre>
    </section>
{% endblock %}