{% extends 'layout.html' %}
{% block content %}
    <h1 class="container PAGE-TITLE">{{ func['function_name'] }}</h1>
    <section class="container" style="padding-left: 0px; padding-right: 0px;">
        <div class="row">
            <div class="col">
                <a href="{{ url_for('guiapi.edit', uuid=func['function_uuid']) }}" style="margin-right: 10px;">Edit</a>
                <a href="{{ url_for('guiapi.delete', uuid=func['function_uuid']) }}" style="margin-right: 10px;">Delete</a>
                <a href="" style="margin-right: 10px;">Run</a>
                <a href="{{ url_for('guiapi.function_tasks', uuid=func['function_uuid']) }}" style="margin-right: 10px;">Tasks</a>
            </div>
            <div class="col" style="display:flex; justify-content:flex-end; padding-left: 0px;">
                <a href="{{ url_for('guiapi.functions') }}">Back to Functions</a>
            </div>
        </div>
    </section>
    <dl class="container VIEW-INFO">
        <dt>Name: </dt><dd>{{ func['function_name'] }}</dd>
        {% if func['description'] != "" %}
            <dt>Description: </dt>
            <dd>{{ func['description'] }}</dd>
        {% endif %}
        <dt>Entry Point: </dt><dd>{{ func['entry_point'] }}</dd>
        <dt>Created By: </dt><dd>{{ func['username'] }}</dd>
        <dt>Date Created: </dt><dd>{{ func['timestamp'].date() }} {{ func['timestamp'].strftime('%X') }}</dd>
        <dt>Date Edited: </dt><dd>{{ func['modified_at'].date() }} {{ func['modified_at'].strftime('%X') }}</dd>
        <dt>UUID: </dt><dd>{{ func['function_uuid'] }}</dd>
    </dl>
    <section class="container">
        <pre class="python FUNC-CODE"><code style="padding: 0;">{{ func['function_code'] }}</code></pre>
    </section>
{% endblock %}